
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3500">
      <img src="../../assets/slideshow-image-1.jpg" alt="slide-1">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="font-weight-bolder">Buy</h3>
        <p class="font-weight">Buy something that doesn't make your pocket lighter</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <img src="../../assets/slideshow-image-2.jpg" alt="slide-1">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="font-weight-bolder">Sell</h3>
        <p class="font-weight">Your junk can be someone else's treasure</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <img src="../../assets/slideshow-image-3.jpg" alt="slide-1">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="font-weight-bolder">Donate</h3>
        <p class="font-weight">Because there's no joy better than the joy of giving</p>
      </div>
    </div>
  </div>
  <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a href="#myCarousel" class="carousel-control-next" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

