@import '../../styles.scss';

.carousel {
  height: 100%;

  .carousel-indicators {
    li {
      border-radius: 50%;
      height: 0.7rem;
      width: 0.7rem;
    }
    li.active {
      height: 0.8rem;
      width: 0.8rem;
      @extend .bg-purple;
    }
  }

  .carousel-inner {
    height: 100%;

    .carousel-item {
      height: 100%;

      .carousel-caption {
        @extend .font-mulish;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  // .carousel-control-prev, .carousel-control-next {
  //   filter: invert(100%);
  // }
}


