<div class="homepage-container">
    <div class="mt-1 shadow bg-white d-flex justify-content-center align-items-center" style="height: 300px;">
        <div class="d-flex align-items-center justify-content-between p-5">
            <span class="text-dark text-capitalize mt-4 w-25 p-1" style="font-size: 25px;">
                <span class="text-blue">buy,sell and find</span> great things from us
            </span>
            <div id="myCarousel" class="carousel slide carousel-fade" style="width: 65%;" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item d-flex justify-content-between active" data-interval="3500">
                        <img src="../../assets/car.jpg" alt="slide-1">
                        <img src="../../assets/bike.jpg" alt="slide-1">
                        <img src="../../assets/jeep.jpg" alt="slide-1">
                    </div>
                    <div class="carousel-item d-flex justify-content-between" data-interval="4000">
                        <img src="../../assets/phone.jpeg" alt="slide-1">
                        <img src="../../assets/tablet.jpg" alt="slide-1">
                        <img src="../../assets/laptop.jpg" alt="slide-1">
                    </div>
                    <div class="carousel-item d-flex justify-content-between" data-interval="4000">
                        <img src="../../assets/bed.png" alt="slide-1">
                        <img src="../../assets/sofa.jpg" alt="slide-1">
                        <img src="../../assets/table.webp" alt="slide-1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ads-section">
        <div class="sub-container">
            <div class="ads-container">
                <div class="ad-row">
                    <label class="heading">Categories</label>
                    <div class="d-flex align-items-center justify-content-between mt-4" style="column-gap: 50px;">
                        <div routerLink = "/ads/category/{{category.categoryId}}" *ngFor="let category of categories" class="cursor-pointer d-flex flex-column align-items-center">
                            <div class="p-3 d-flex align-items-center flex-column shadow">
                                <img height=120px width=140px src={{category.categoryImgUrl}}>
                                <label class="mt-1 font-bold text-large">{{category.categoryName}}</label>
                            </div>
                            <span class="font-bold text-large mt-3">{{category.adCountInCategory}} ads</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="recentlyAddedAds.length>0" class="ad-row">
                    <div class="d-flex align-items-center justify-content-between">
                        <label class="heading">Latest ads</label>
                        <label routerLink = "/ads/sortType/1" class="view-all mt-2">view all</label>
                    </div>
                    <div class="ads-sub-container mt-2">
                        <ng-container *ngFor="let ad of recentlyAddedAds | slice:0:4">
                            <app-ad-card *ngIf="setAdCard(ad)"></app-ad-card>
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="trendingAds.length>0" class="ad-row">
                    <div class="d-flex align-items-center justify-content-between">
                        <label class="heading">Trending ads</label>
                        <label routerLink = "/ads/sortType/2" class="view-all mt-2">view all</label>
                    </div>
                    <div class="ads-sub-container mt-2">
                        <ng-container *ngFor="let ad of trendingAds | slice:0:4">
                            <app-ad-card *ngIf="setAdCard(ad)"></app-ad-card>
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="auctionAds.length>0" class="ad-row">
                    <div class="d-flex align-items-center justify-content-between">
                        <label class="heading">Auction ads</label>
                        <label routerLink = "/ads/adType/3" class="view-all mt-2">view all</label>
                    </div>
                    <div class="ads-sub-container mt-2">
                        <ng-container *ngFor="let ad of auctionAds | slice:0:4">
                            <app-ad-card *ngIf="setAdCard(ad)"></app-ad-card>
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="donationAds.length>0" class="ad-row">
                    <div class="d-flex align-items-center justify-content-between">
                        <label class="heading">Donation ads</label>
                        <label routerLink = "/ads/adType/1" class="view-all mt-2">view all</label>
                    </div>
                    <div class="ads-sub-container mt-2">
                        <ng-container *ngFor="let ad of donationAds | slice:0:4">
                            <app-ad-card *ngIf="setAdCard(ad)"></app-ad-card>
                        </ng-container>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
