@import '../../styles.scss';

.create-ad-page {
  @extend .font-mulish, .text-large, .bg-light-purple;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .main-header {
    @extend .text-purple;
    padding: 0.5rem 0.5rem 0;
    //@extend .text-x-large;
    font-size: 1.5rem;
  }

  .choose-type-card {
    align-items: center;
    border-radius: 0px;
    display: flex;

    .left-tab {
      display: flex;
      flex-direction: column;
      width: 60%;
      align-items: center;
    }

    .right-tab {
      text-align: center;
      height: 11rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: #a4508b;
      background-image: linear-gradient(326deg, #a4508b 0%, #7814a7 74%);


      .ad-type-title {
        @extend .text-x-large;
      }
    }

    .choose-type-header {
      width: 100%;
      text-align: center;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      @extend .text-large;
    }

    .ad-type-buttons {
      // display: flex;
      justify-content: center;
      justify-content: space-evenly;
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 2rem;

      .active {
        @extend .text-purple, .border-purple;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }

      button {
        @extend .text-black,.border-grey;
        background: transparent;
        border-radius: 15%;
        border-width: 1.5px;
        outline: none;
        box-shadow: none;
        width: 7rem;
        height: 7rem;
        padding-top: 0.8rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

        p {
          margin-top: 0.5rem;
          @extend .text-small;
        }
      }
      button:hover {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        @extend .text-purple, .border-purple;
      }

      button:active {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .form-container {
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .form-card-1 {
        align-items: center;

        .enter-details-header {
          width: 100%;
          text-align: center;
          padding-top: 1.5rem;
        }

        .input-fields {
          width: 50%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 25%;
          margin-left: 3rem;
          padding-bottom: 3rem;

          label {
            @extend .text-small, .text-grey;
          }

          input, textarea {
            border: none;
            outline: none;
            border-bottom: 0.1rem solid rgb(160, 160, 160);
          }

          textarea::-webkit-scrollbar {
            width: 0.2rem;
          }

          textarea::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            @extend .bg-purple;
          }

          select {
            @extend input;
            width: 13.8rem;
          }

          span {
            @extend .text-x-small;
          }

          .date-input {
            width: 13.8rem;
            font-size: 1rem;
          }
        }
      }

      .form-card-2 {

        p.loading {
          @extend .text-x-small, .text-purple;
        }

        button {
          border-radius: 45px;
          // background-color:#ff8700;
          width: 20%;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          margin-top: 2.5rem;
          border: none;
          margin-bottom: 2rem;
          @extend .text-small, .bg-purple;
        }
        button:hover {
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        }

        button:active {
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        span {
          @extend .text-x-small;
        }

        .upload-images-header {
          width: 100%;
          text-align: center;
          padding-top: 1.5rem;
          padding-bottom: 1rem;
        }

        .upload-images-tab {
          display: flex;
          width: 40%;
          justify-content: space-between;

          .image-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            text-decoration: none;

            input[type="file"] {
              display: none;
            }
            .custom-file-upload {
                cursor: pointer;
                height: 100%;
            }

            .custom-file-upload:hover {
              color: rgba(7, 7, 7, 0.651);
            }

            label {
              @extend .text-x-small, .text-grey;
            }

            i.add-image {
              padding: 1rem;
              width: 7.5rem;
              height: 7rem;
              border: 0.1rem solid grey;
              border-radius: 10px;
              @extend .bg-light-purple;

              p {
                margin-top: 0.5rem;
                @extend .text-small, .font-mulish;
              }
            }

            .images {
              width: 7.5rem;
              height: 7rem;
              border: 0.1rem solid grey;
              border-radius: 10px;
              @extend .bg-black;
              overflow: hidden;

              img {
                //max-width: 100%;
                //max-height: 100%;
                height: 115px;
                width: 100%;
              }
            }

            .remove-button {
              cursor: pointer;
              text-decoration: underline;
              margin-top: 0.2rem;
              padding: 0.1rem;
              font-size: medium;
            }

          }

        }

      }

    }

      }



  .upload-images {

    width: 100%;


  }

  .card {
    width: 97%;
    margin-bottom: 2rem;
    align-items: center;
  }

}
.create-ad-page::-webkit-scrollbar {
  width: 1px;
}
@media only screen and (max-width:600px) {
  .create-ad-page {

    .choose-type-card {

      .ad-type-buttons {

        button {
          width: 4.5rem;
          height: 4.5rem;

          i {
            font-size: 1.3rem;

            p {
              font-size: 10px;
            }
          }
        }
      }
    }

    .form-container {

      form {

        .form-card-1 {

          .input-fields {
            grid-template-columns: 1fr;
            margin-left: 0rem;
          }
        }

        .form-card-2 {

          button {
            width: 40%;
          }

          .upload-images-tab {
            justify-content: space-between;
            width: 90%;

            .image-link {

              i.add-image {
                font-size: 20px;
                width: 5rem;
                height: 4.5rem;

                p {
                  font-size: 10px;
                }
              }

              .images {
                width: 5rem;
                height: 4.5rem;

                img {
                  height: 80px;
                }
              }
            }
            .image-2 {
              margin-left: -1.5rem;
            }
          }
        }
      }
    }
  }

}
