<div class="create-ad-page mt-1 pt-4 pb-4">
  <p *ngIf="!isUpdate" class="main-header font-weight-bolder card">Post Your Ad</p>
  <p *ngIf="isUpdate" class="main-header font-weight-bolder card">Update Your Ad</p>
  <div *ngIf="!isUpdate" class="choose-type-card card shadow-sm">
    <div class="left-tab">
      <p class="choose-type-header font-weight-bold">What do you want to do with your product ?</p>
      <div class="ad-type-buttons">
        <button [disabled]="isUpdate && adType!=adTypes.sell" class="btn btn-primary" (click)="toggleAdType(adTypes.sell)" [ngClass]="{'active':adType==adTypes.sell}">
          <i  class="fa fa-money fa-3x">
            <p>Sell</p>
          </i>
        </button>
        <button [disabled]="isUpdate && adType!=adTypes.auction" class="btn btn-primary" (click)="toggleAdType(adTypes.auction)" [ngClass]="{'active':adType==adTypes.auction}">
          <i  class="fa fa-gavel fa-3x">
            <p>Auction</p>
          </i>
        </button>
        <button [disabled]="isUpdate && adType!=adTypes.donate" class="btn btn-primary" (click)="toggleAdType(adTypes.donate)" [ngClass]="{'active':adType==adTypes.donate}">
          <i  class="fa fa-gift fa-3x">
            <p>Donate</p>
          </i>
        </button>
        <button [disabled]="isUpdate && adType!=adTypes.rent" class="btn btn-primary" (click)="toggleAdType(adTypes.rent)" [ngClass]="{'active':adType==adTypes.rent}">
          <i  class="fa fa-hourglass-start fa-3x">
            <p>Rent</p>
          </i>
        </button>
      </div>
    </div>
    <div class=" w3-animate-right right-tab" *ngIf="adType == adTypes.sell">
      <p class="ad-type-title text-light font-weight-bold">SELL:</p>
      <p class="text-light">Empty your cupboard and make some <br> quick bucks</p>
    </div>
    <div class=" w3-animate-right right-tab" *ngIf="adType == adTypes.auction">
      <p class="ad-type-title text-light font-weight-bold">AUCTION:</p>
      <p class="text-light">Set a deadline and sell your product <br> to the highest bidder</p>
    </div>
    <div class=" w3-animate-right right-tab" *ngIf="adType == adTypes.donate">
      <p class="ad-type-title text-light font-weight-bold">DONATE:</p>
      <p class="text-light">Make someone's day by giving away your <br> product for free</p>
    </div>
    <div class=" w3-animate-right right-tab" *ngIf="adType == adTypes.rent">
      <p class="ad-type-title text-light font-weight-bold">RENT:</p>
      <p class="text-light">Set a daily charge and lend a product <br> that you currently don't need</p>
    </div>
  </div>
  <div class="form-container">
    <form [formGroup]="createAdForm" (ngSubmit)="onSubmit()">
      <div class="form-card-1 card shadow-sm">
        <p class="enter-details-header font-weight-bold">Enter some details</p>
        <div class="input-fields">
          <div>
            <label>Title:</label><br>
            <input type="text" formControlName="adTitle"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('adTitle')?.valid && createAdForm.get('adTitle')?.touched">*Title should be 5-20 characters</span>
          </div>
          <div>
            <label>Product Name:</label><br>
            <input type="text" formControlName="productName"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('productName')?.valid && createAdForm.get('productName')?.touched">*This field is mandatory</span>
          </div>
          <div>
            <label>Brand Name:</label><br>
            <input type="text" formControlName="brandName"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('brandName')?.valid && createAdForm.get('brandName')?.touched">*This field is mandatory</span>
          </div>
          <div>
            <label for="Type">Category:</label><br>
            <!-- <input type="text" formControlName="type"> -->
            <select [attr.disabled]="isUpdate?'':null" formControlName="categoryId">
              <option *ngFor="let category of categories" value={{category.categoryId}}>{{category.categoryName}}</option>
            </select><br>
            <span class="text-danger" *ngIf="!createAdForm.get('categoryId')?.valid && createAdForm.get('categoryId')?.touched">Choose Category</span>
          </div>
          <div>
            <label>Enter Description:</label><br>
            <textarea rows="1" formControlName="description"></textarea><br>
            <span class="text-danger" *ngIf="!createAdForm.get('description')?.valid && createAdForm.get('description')?.touched">*Description is mandatory</span>
          </div>
          <div *ngIf="adType==adTypes.sell">
            <label>Selling Price (₹):</label><br>
            <input [attr.disabled]="isUpdate?'':null" type="number" formControlName="initialPrice"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('initialPrice')?.valid && createAdForm.get('initialPrice')?.touched">*This field is mandatory</span>
          </div>
          <div *ngIf="adType==adTypes.rent">
            <label>Daily charge (₹):</label><br>
            <input [attr.disabled]="isUpdate?'':null" type="number" formControlName="initialPrice"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('initialPrice')?.valid && createAdForm.get('initialPrice')?.touched">*This field is mandatory</span>
          </div>
          <div *ngIf="adType==adTypes.auction">
            <label>Set a starting bid (₹):</label><br>
            <input [attr.disabled]="isUpdate?'':null" type="number" formControlName="initialPrice"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('initialPrice')?.valid && createAdForm.get('initialPrice')?.touched">*This field is mandatory</span>
          </div>
          <div *ngIf="adType==adTypes.auction">
            <label>Set a bid difference:</label><br>
            <input type="number" formControlName="bidDifference"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('bidDifference')?.valid && createAdForm.get('bidDifference')?.touched">*This field is mandatory</span>
          </div>
          <div *ngIf="adType==adTypes.auction">
            <label>Days Until Auction Ends:</label><br>
            <input class="date-input" type="datetime-local" formControlName="auctionDeadline"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('auctionDeadline')?.valid && createAdForm.get('auctionDeadline')?.touched">*This field is mandatory</span>
          </div>
          <div>
            <label>How old is the product (optional):</label><br>
            <input type="string" formControlName="productAge"><br>
            <span class="text-danger" *ngIf="!createAdForm.get('productAge')?.valid && createAdForm.get('productAge')?.touched">*This field is mandatory</span>
          </div>
        </div>
      </div>
      <div class="form-card-2 card">
        <p class="upload-images-header font-weight-bold">Upload between 1-3 images</p>
        <p class="loading" *ngIf="imageLoading">
          <i class="fa fa-spinner fa-pulse"></i> Loading image</p>
        <div class="upload-images-tab">
          <a class="image-link text-secondary">
            <label>Image 1 (Cover Photo):</label>
            <label for="file-upload-1" *ngIf="!imageSelected[1]" class="custom-file-upload">
              <i  class="fa fa-camera fa-4x add-image">
                <p>Click to add</p>
              </i>
            </label>
            <div class="images" *ngIf="imageSelected[1]">
              <img  [src]="url[1]" alt="">
            </div>
            <input  #myInput1 id="file-upload-1" type="file" (change)="onSelectFile($event,1)">
            <label *ngIf="imageSelected[1] && !isUpdate" (click)="removeImage(1)" class="remove-button text-danger">
              <i class="fa fa-trash"></i></label>
          </a>

          <a class="image-link image-2 text-secondary">
            <label>Image 2:</label>
            <label for="file-upload-2" *ngIf="!imageSelected[2]" class="custom-file-upload">
              <i  class="fa fa-camera fa-4x add-image">
                <p>Click to add</p>
              </i>
            </label>
            <div class="images" *ngIf="imageSelected[2]">
              <img  [src]="url[2]" alt="">
            </div>
            <input #myInput2 id="file-upload-2" type="file" (change)="onSelectFile($event,2)">
            <label *ngIf="imageSelected[2]" (click)="removeImage(2)" class="remove-button text-danger">
              <i class="fa fa-trash"></i></label>
          </a>

          <a class="image-link text-secondary">
            <label>Image 3:</label>
            <label for="file-upload-3" *ngIf="!imageSelected[3]" class="custom-file-upload">
              <i  class="fa fa-camera fa-4x add-image">
                <p>Click to add</p>
              </i>
            </label>
            <div class="images" *ngIf="imageSelected[3]">
              <img  [src]="url[3]" alt="">
            </div>
            <input #myInput3 id="file-upload-3" type="file" (change)="onSelectFile($event,3)">
            <label *ngIf="imageSelected[3]" (click)="removeImage(3)" class="remove-button text-danger">
              <i class="fa fa-trash"></i></label>
          </a>
        </div>
        <span class="text-danger mt-2" *ngIf="!createAdForm.get('img1Url')?.valid && image1Touched && imageRemoved">Please provide a cover photo</span>
        <button *ngIf="!isUpdate" type="submit" [disabled]="!createAdForm.valid" class="btn btn-primary">
          <i class="fa fa-upload"></i> Post Ad</button>
        <button *ngIf="isUpdate" type="submit" [disabled]="!createAdForm.valid" class="btn btn-primary">
           Update</button>
        <span class="text-danger mt-2 mb-5" *ngIf="!createAdForm.valid && createAdForm.touched">*Please enter valid data</span>
      </div>
    </form>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
