<div class="box-container">

  <div class="sign-in-page shadow-lg">

    <div class="sign-in-container w3-animate-opacity">
      <img src="../../assets/PEDDLER_free-file (7).png" class="logo" alt="" height="50" width="130">
      <div class="form-container">
        <p class="login-prompt font-weight-bold">Forgot Password?</p>
        <p class="enter-data-prompt" *ngIf="!otpGenerated">Enter your registered email Id and we will <br> send an OTP if your email ID is valid</p>
        <p class="enter-data-prompt" *ngIf="otpGenerated">Enter your new password and the OTP sent <br> to your Email ID</p>
        <p class="status" *ngIf="otpGenLoading">
          <i class="fa fa-spinner fa-pulse"></i> Sending OTP</p>
        <p class="error-message text-danger" *ngIf="errorInOtpGen || errorInOtpValidation">Something went wrong <br> Please try again later</p>
        <p *ngIf="!otpGenerated && form1data!=null" [ngClass]="{'error-message text-danger':form1data.response==false,'success-message':form1data.response==true}">{{form1data.message}}</p>
        <p *ngIf="otpGenerated && form2data!=null" [ngClass]="{'error-message text-danger':form2data.response==false,'success-message':form2data.response==true}">{{form2data.message}}</p>
        <form *ngIf="!otpGenerated" [formGroup]="emailForm" (ngSubmit)="onSubmitEmailForm()">
          <div>
            <label for="emailId">Email ID:</label><br>
            <input type="text" formControlName="email"><br>
            <span class="text-danger" *ngIf="!emailForm.get('email')?.valid && emailForm.get('email')?.touched">*Enter a valid Email ID</span>
          </div>
          <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary submit" value="submit">
            Get OTP</button><br>
        </form>
        <form *ngIf="otpGenerated" [formGroup]="newPasswordForm" (ngSubmit)="onSubmitNewPasswordForm()">
          <div class="password-fields">
            <div>
              <label>Set New Password:</label><br>
              <input type="password" formControlName="password"><br>
              <span class="text-danger  pw-validation-message mt-2" *ngIf="!newPasswordForm.get('password')?.valid && newPasswordForm.get('password')?.touched">*Password must contain:<br>-atleast 8 characters -an alphabet <br> -a number -a special character</span>
            </div>
            <div>
              <label>Confirm Password:</label><br>
              <input type="password" formControlName="confirmPassword"><br>
              <span class="text-danger" *ngIf="!newPasswordForm.get('confirmPassword')?.valid && newPasswordForm.get('confirmPassword')?.touched && newPasswordForm.hasError('mustMatch')">*Passwords dont match</span>
            </div>
          </div>
          <div>
            <label for="OTP">OTP:</label><br>
            <input type="number" formControlName="otp"><br>
            <span class="text-danger" *ngIf="!emailForm.get('otp')?.valid && emailForm.get('otp')?.touched">*Enter the OTP</span>
          </div>
          <button type="submit" [disabled]="!newPasswordForm.valid" class="btn btn-primary submit" value="submit">
            Submit</button><br>
        </form>
      </div>
      <a class="forgot-password-link " routerLink="/sign-in">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to sign-in</a>
    </div>

    <!-- <app-carousel></app-carousel> -->

  </div>

</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
