<div class="user-profile-page mt-1">
  <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <div class="basic-info-tab card">
      <p class="basic-info-header font-weight-bold">Basic Information</p>
      <div class="image-link text-secondary">
        <label>Profile Picture:
          <p class="loading ml-2" *ngIf="imageLoading">
            <i class="fa fa-spinner fa-pulse"></i> Loading image</p>
        </label>
        <div class="edit-picture">
          <label for="file-upload" *ngIf="!imageSelected" class="custom-file-upload">
            <i *ngIf="!imageSelected" class="picture fa fa-user fa-3x">
              <p>Click to add</p>
            </i>
          </label>

          <div class="images" *ngIf="imageSelected">
            <img  [src]="url" alt="">
          </div>

          <div class="d-flex align-items-center mt-2">
            <span class="text-dark text-small">Your ID : </span>
            <span class="text-blue text-small font-700 ml-1">{{userDetails.id}}</span>
          </div>

          <div class="control-buttons align-items-center">
            <label *ngIf="imageSelected" for="file-upload" class="custom-file-upload">
              <i class="fa fa-pencil"></i>
            </label>
            <label  *ngIf="imageSelected" (click)="removeImage()" class="remove-button text-danger">
              <i class="fa fa-trash"></i></label>
            <input #myInput id="file-upload" type="file" (change)="onSelectFile($event)">
          </div>
        </div>
      </div>
      <div class="input-fields">
        <div>
          <label>First Name:</label><br>
          <input type="text" formControlName="firstName"><br>
          <span class="text-danger" *ngIf="!editProfileForm.get('firstName')?.valid && editProfileForm.get('firstName')?.touched">*This field is mandatory(Upto 20 charachters)</span>
        </div>
        <div>
          <label>Last Name:</label><br>
          <input type="text" formControlName="lastName"><br>
          <span class="text-danger" *ngIf="!editProfileForm.get('lastName')?.valid && editProfileForm.get('lastName')?.touched">*This field is mandatory(Upto 20 charachters)</span>
        </div>
      </div>
    </div>

    <div class="contact-info-tab card">
      <p class="contact-info-header font-weight-bold">Contact and Address</p>
      <div class="input-fields">
        <div>
          <label>Phone Number:</label><br>
          <input type="text" formControlName="phone"><br>
          <span class="text-danger" *ngIf="!editProfileForm.get('phone')?.valid && editProfileForm.get('phone')?.touched">*Enter valid phone number</span>
        </div>
        <div>
          <label>Address:</label><br>
          <textarea rows="1" formControlName="address"></textarea><br>
          <span class="text-danger" *ngIf="!editProfileForm.get('address')?.valid && editProfileForm.get('address')?.touched">*This field is mandatory</span>
        </div>
        <div>
          <label>Pincode:</label><br>
          <input type="text" formControlName="pinCode"><br>
          <span class="text-danger" *ngIf="!editProfileForm.get('pinCode')?.valid && editProfileForm.get('pinCode')?.touched">*This field is mandatory</span>
        </div>
      </div>
      <!-- <div>
        <label>Pincode:</label><br>
        <input type="text" formControlName="pinCode"><br>
        <span class="text-danger" *ngIf="!editProfileForm.get('pinCode')?.valid && editProfileForm.get('pinCode')?.touched">*This field is mandatory</span>
      </div> -->
      <div *ngIf="!changePassword"  class="form-control-buttons">
        <button type="submit" [disabled]="(!editProfileForm.valid || !editProfileForm.touched) && !imageTouched" class="btn btn-primary">
          <i class="fa fa-floppy-o"></i> &nbsp; Save changes</button>
        <button type="button" class="cancel-button" (click)="cancelFunc()">
          <i class="fa fa-times"></i> &nbsp; Cancel</button>
      </div>
      <span class="text-danger mt-2" *ngIf="!editProfileForm.valid && editProfileForm.touched && !changePassword">*Please enter valid data</span>
      <a *ngIf="!changePassword" class="change-password-link" (click)="changePasswordFunc()">Change Password</a>
    </div>

    <div *ngIf="changePassword" class="change-password-tab card">
      <p class="change-password-header text-danger font-weight-bold">Change password</p>
      <div class="input-fields">
        <div>
          <label>Enter Current Password:</label><br>
          <input class="mb-2" type="password" formControlName="currentPassword"><br>
          <span class="text-danger" *ngIf="!editProfileForm.get('currentPassword')?.valid && editProfileForm.get('currentPassword')?.touched && editProfileForm.hasError('mustBeSame')">*The entered password doesn't match your current password</span>
        </div>
        <div></div>
        <div>
          <label>Set Password:</label><br>
          <input type="password" formControlName="password"><br>
          <span class="text-danger  pw-validation-message mt-2" *ngIf="!editProfileForm.get('password')?.valid && editProfileForm.get('password')?.touched">*Password must contain: <br> -atleast 8 characters <br> -an alphabet <br> -a number <br> -a special character</span>
        </div>
        <div>
          <label>Confirm Password:</label><br>
          <input type="password" formControlName="confirmPassword"><br>
          <span class="text-danger" *ngIf="!editProfileForm.get('confirmPassword')?.valid && editProfileForm.get('confirmPassword')?.touched && editProfileForm.hasError('mustMatch')">*Passwords dont match</span>
        </div>
      </div>
      <div class="form-control-buttons">
        <button type="submit" [disabled]="(!editProfileForm.valid || !editProfileForm.touched)" class="btn btn-primary">
          <i class="fa fa-floppy-o"></i> &nbsp; Save changes</button>
        <button type="button" class="cancel-button" (click)="cancelFunc()">
          <i class="fa fa-times"></i> &nbsp; Cancel</button>
      </div>
      <span class="text-danger mt-2" *ngIf="!editProfileForm.valid && editProfileForm.get('currentPassword')?.touched">*Please enter valid data</span>
    </div>
  </form>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
